body {
  padding-top: 5.4375em; }

h2 {
  font-size: 1.5em; }

.page-header {
  box-shadow: 0 0 15px #d0d0d0; }

.bigger-font {
  font-family: "Arial Bold", Gadget, sans-serif;
  font-style: normal;
  font-weight: bold;
  line-height: 0.7;
  font-size: 2em; }

@media screen and (max-width: 768px) {
  .employees-header {
    margin-bottom: 15px; }
  .table-header {
    display: none; }
  .table-row {
    border: none;
    display: block;
    margin-bottom: 10px;
    box-shadow: 2px 2px 5px 0px #d0d0d0; }
    .table-row td {
      border-bottom: 1px solid #d0d0d0;
      display: block;
      text-align: right;
      background-color: #FFF;
      position: relative; }
      .table-row td:before {
        content: attr(data-label);
        position: absolute;
        left: 12px;
        display: inline-block;
        text-transform: uppercase; }
      .table-row td:last-child {
        border-bottom: none; } }
