@import 'variables';
@import 'mixins';

body {
    padding-top: ($pageHeaderHeight + 15/16);

    .page-header {
        box-shadow: 0 0 15px $shadowColor;
    }

    .alert-slide-out {
        @include alert-slide(0px);
    }

    .alert-slide-in {
        @include alert-slide(-50px);
    }
}

.container-lg {
    h2 {
        font-size: 1.5em;
    }

    .table-title-left {
        @include table-title-row(flex-start);
    }

    .table-title-right {
        @include table-title-row(flex-end);
    }

    .bigger-font {
        font-family: 'Arial Bold', Gadget, sans-serif;
        font-size: 2em;
        line-height: 0.45;
        font-weight: 700;
        font-style: normal;
    }

    table th:last-child {
        text-align: center;
    }
}

#employees {
    td {
        padding: 0.625em;
    }

    .options {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    .edit-button,
    .delete-button {
        width: auto;
        line-height: 1em;
    }

    .card-delete-button {
        display: none;
    }
}

@media screen and (max-width: $md) {
    .table-header {
        display: none;
    }

    #employees tr {
        @include border-lr-radius(top, 0.62rem);
        @include border-lr-radius(bottom, 0.2rem);
        display: block;
        height: 13.93375em;
        margin-bottom: 1.25em;
        background-color: #fff;
        box-shadow: 0px 0px 10px 10px $shadowColor;
        -webkit-transition: height 0.2s ease;
        transition: height 0.2s ease;

        td {
            position: relative;
            display: flex;
            height: 2.65em;
            align-items: center;
            justify-content: flex-end;
            border-bottom: 1px solid $shadowColor;
            background-color: #fff;

            .delete-button {
                display: none;
            }

            &:before {
                position: absolute;
                display: inline-block;
                left: 12px;
                text-transform: uppercase;
                content: attr(data-label);
            }

            &:nth-last-child(2) {
                border-bottom: none;
            }
        }

        .card-delete-button {
            @include border-lr-radius(top, 0.62rem);
            display: block;
            height: auto;
            padding: 0;

            button {
                @include border-lr-radius(top, 0.62rem);
                @include card-button;
            }
        }

        td.options {
            @include border-lr-radius(bottom, 3px);
            height: auto;
            padding: 0;

            button {
                @include card-button;
            }
        }
    }

    #employees .delete-animation {
        height: 0;
        margin-bottom: 0;
        overflow-y: hidden;
        box-shadow: none;
    }
}